.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    height: 60%;
}

